<h1>ようこそ！！！！！！！！！</h1>
<p><span class = "sign-in">
<%= link_to '会員様はこちら', new_user_session_path,class:"post-btn"%>
</span></p>

<p><span class = "sign-up">
<%= link_to '新規登録の方はこちら', new_user_registration_path ,class:"post-btn"%>
</span></p>

<%# ★post-btnにCSS設定が必要 %>